.siImage{
    width: 250px;
    height: 180px;
    object-fit: cover;
}
.searchItem{
    border: 1px solid lightgray;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.siDesc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}
.siDetails{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mon_name{
    font-size: 28px;
}
.mon_disc{
    font-size: 16px;
}
.mon_place{
    font-size: 20px;
    font-style: italic;
}
.mon_divider{
    font-size: 35px;
}
.mon_info{
    font-size: 10px;
}
.siRating{
    display: flex;
    justify-content: space-between;
}
.siRating>span{
    font-weight: 500;
}
.siRating>button{
    background-color: grey;
    color: white;
    font-weight: bold;
    border: none;
}
.sidetailTexts{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.siprice{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
}
.siTax{
    text-align: center;
    font-size: 12px;
}
.siCheckbutton{
    border: none;
    border-radius: 10px;
    background-color: rgb(108, 108, 108);
    font-size: 13px;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 200px;
}